#app {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  /* 动画时间配置 */
  /* 全局的动画时间 */
  --animate-duration: 200ms;
  /* 全局的延迟时间 */
  --animate-delay: 0.1s;
  --head-backgorund-color: #222555;
  --head-border-color: #222555;
  --head-padding: 0px;
}

.dashboard-head {
  /* 头部背景颜色 */
  --head-backgorund-color: #5172dc;
  /* 头部文本颜色 */
  --head-text-color: #ffffff;
  --head-border-color: #5172dc;
  --head-padding: 0px;
  --head-text-size: 14px;
}

.dashboard-menu {
  /* 菜单背景 */
  --el-menu-bg-color: #5172dc;
  --el-fill-color-blank: var(--el-menu-bg-color);
  /* 菜单鼠标悬停背景颜色 */
  --el-menu-hover-bg-color: rgba(255, 255, 255, 0.6);
  --el-menu-hover-bg-ch-color: var(--el-menu-hover-bg-color);
  /* 菜单文本背景颜色 */
  --el-menu-text-color: #ffffff;
  --el-menu-text-ch-color: var(--el-menu-text-color);
  --menu-border-color: #5172dc;
  --menu-padding: 0px;
  --menu-text-size: 14px;
}

.dashboard-main {
  /* 底部背景颜色 */
  --main-out-bg-color: #f2f2f3;
  /* 板块间隔 */
  --main-out-block-padding: 20px;
  /* 板块圆角 */
  --main-block-radios: 10px;
  /* 板块内背景颜色 */
  --main-block-bg-color: #ffffff;
  /* 板块内的边距 */
  --main-block-padding: 10px;
}

.dashboard-button {
  /* 背景颜色 */
  --btn-bg-color: #f2f2f3;
  /* 边框颜色 */
  --btn-border-color: #dcdfe6;
  /* 内边距间隔 */
  --btn-padding: 20px;
  --btn-text-color: #000;
  /* 圆角 */
  --btn-border-radius: 10px;
  /* 外边距颜色 */
  --btn-margin: 5px;
}

.dashboard-table {
  /* 鼠标移过颜色 */
  --table-cell-hover-color: #eff3fc;
  --table-head-background: #eef3fa;
  --table-head-color: #000;
  --table-head-font-weigth: 700;
  --table-head-font-size: 16px;
  --table-head-height: 50px;
  --table-body-font-size: 16px;
  --table-pagination-button-is-background: #1a5cea;
  --table-pagination-button-background: #fff;
  --table-pagination-margin-top: 36px;
}
